{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center text-light">Les équipes</h1>

        <!-- Bouton pour créer une nouvelle équipe -->
        <div class="text-end mb-4">
            <a href="{{ path('app_team_new') }}" class="btn btn-success">
                <i class="bi bi-person-plus-fill"></i> Create a new Team
            </a>
        </div>

        <!-- Liste des équipes -->
        <div class="row mt-4 mx-2">
            {% for team in teams %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0 rounded-lg">
                        <div class="card-body">
                            <h5 class="card-title">{{ team.name }}</h5>
                            <p class="card-text">{{ team.description }}</p>
                            <h6>Superheroes:</h6>
                            <ul>
                                {% for super_hero in team.superHeroes %}
                                    <li>{{ super_hero.name }}</li>
                                {% endfor %}
                            </ul>

                            <!-- Formulaire pour modifier une équipe -->
                            <form action="{{ path('app_team_edit', {'id': team.id}) }}" method="post">
                                <button class="btn btn-warning" type="submit">
                                    <i class="bi bi-pencil"></i> Edit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center">
                    <p>No teams found.</p>
                </div>
            {% endfor %}
        </div>

        <!-- Bouton vers la page d'accueil des super-héros -->
        <div class="text-center mt-4">
            <a href="{{ path('app_super_hero_index') }}" class="btn btn-primary">
                <i class="bi bi-house-door-fill"></i> Back to Superheroes
            </a>
        </div>
    </div>
{% endblock %}