<div class="card shadow-sm p-4">
    {{ form_start(form) }}
    <div class="row">
        {% for field in form %}
            <div class="col-md-6 mb-3">
                {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}

                {# Si le champ est "isActive", on le rend sous forme de switch #}
                {% if field.vars.name == 'isActive' %}
                {% if field.vars.name == 'isActive' %}
                <div class="form-group">
                    <label for="{{ field.vars.id }}">Activer le super-héros</label>
                    {{ form_widget(field, {'attr': {'type': 'number', 'min': 0, 'max': 1, 'step': 0.01, 'class': 'form-control', 'id': field.vars.id}}) }}
                </div>
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
                
                {# Si le champ est "teams", on le rend sous forme de cases à cocher #}
                {% elseif field.vars.name == 'teams' %}
                    <div class="d-flex flex-wrap">
                        {{ form_widget(field, {'attr': {'class': 'form gap-2'}}) }}
                        {{ form_errors(field) }}
                    </div>

                {# Sinon, on utilise un champ classique #}
                {% else %}
                    {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                {% endif %}

                {{ form_errors(field) }}
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>
    {{ form_end(form) }}
</div>