{% extends 'base.html.twig' %}

{% block title %}Nouvelle mission{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1 class="mb-0">{{ mission.id ? 'Modifier la mission' : 'Créer une nouvelle mission' }}</h1>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.title) }}
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.difficulty) }}
                            {{ form_row(form.timeLimit) }}
                            {{ form_row(form.requiredPowers) }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <a href="{{ path('app_mission_index') }}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Retour à la liste
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> {{ button_label|default('Enregistrer') }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
